.center {												/* mainLogo image in center */
  display: block;
  margin-left: auto;
  margin-right: auto;  
}



.contactLogo
{
	margin-top: 10px;
}

.contactUs-header-style									/*contact us header in center*/
{
	text-align: center;
}

p.contact-info {										/* contact info in center*/
    text-align: center;
}



